.calendar-container{
   
   padding: 2rem 0;
}
.calendar{
    width: 17rem;
    height: 18rem;
    margin: 0;
    padding: 0;
    background:#fff;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    
}
.month{
    width: 100%;
    height: 3rem;
    background-color: #092C4C ;
    color:#191919;
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}
.prev-arrow{
    padding-left: 1.06rem;
  
}
.next-arrow{
    padding-right: 1.06rem;
}
.month h5{
    padding: 0 1rem;
}
.weekdays{
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items:center;
    padding:0.5rem;
   
}
.weekdays div{
    width: calc(22.62rem/7);
    font-size: small;
    font-family: 'Quicksand', sans-serif; 
    color:#191919;
    display: flex;
    align-items: center;
    
}
.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding:0.2rem;
    color:#092C4C;
}
.days div{
    background-color: #E5E5E5;
    border-radius: 3px;
    width:12px;
    height: 24px;
    font-size: smaller;
    width: calc(12.5rem/7);
    margin: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
} 
.next-date{
    background-color: #E5E5E5;
    opacity: 0.5;
}
.today{
    color: #1AA1E5;
    font-weight: bolder;
}
.days div:hover:not(.today){
    background-color: #092C4C;
    border:1px solid #777777;
    cursor: pointer;
}
 