body {
    max-width: 100%;
    margin: 0 auto;
    background-color:#43A996;
    ;
  }
  .nurse-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-top:5rem ;
    margin:0 6rem ;
  }
  .profile-section {
    background-color: #000000;
    height: 40rem;
    width: 15rem;
    border-radius:10px;
  }
  .profile {
    display: grid;
    justify-content: center;
    gap: 10px 0;
    padding: 20px 0;
  }
  .name{
      color:white;
  }
  fa-user-circle-o{
      justify-content: center;
      align-items:center;
      padding:0 10px
  }
  .dashboard{
      display: flex;
      gap: 0 10px;
      padding: 24px 12px;
      
  }
  .dashboard a{
      text-decoration: none;
      color:#1AA1E5;
  }
  .logout{
      display: flex;
      gap: 0 6px;
      padding: 10px 12px;
  }
  .logout a{
      color:red;
      text-decoration: none;
      
  }
  :active a{
  color:white;
  }
  .logo {
    display: flex;
    justify-content: end;
  }
  .form{
    padding-left: 4rem;
  }
  .profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    height: 6rem;
    width: 6rem;
  }
  .upload{
    color: white;
    font-weight: bold;
  }
  .side-input{
    display: flex;
    
  }
  .btn{
    background-color: #092C4C;
    height: 2.5rem;
    width: 10rem;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    /* float: end; */
  }
  input{
    height: 2rem;
    width: 26rem;
    border-radius: 6px;
  }
  .right-input{
    margin-left: 5rem;
    margin-bottom: 1rem;
  }
  textarea{
    height: 6.5rem;
    width: 26rem;
    border-radius: 6px;
  }
  .Emergency{
    margin-bottom: 1rem;
  }
  .side-button{
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
  .btn-base{
    margin-top: 5rem;
  }