body{
  max-width: 100%;
  margin:0 auto;
}
.navbar {
  /* max-width: 100%;
  margin: 0 auto; */
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.logo-image{
    display: flex;
    align-items:center;
    
}
.img{
  width: 90%;
}

.link {
  text-decoration: none;
  padding: 30px;
  font-size: 30px;
  color: #1aa1e5;
}
:hover.link{
    opacity: 0.4;
    transition: 0.2s;
}
.arrow {
  display: flex;
  align-items: center;
  margin-left: 20rem;
}
.arrow-div {
  padding: 10px;
}
#icon {
  width: 6px;
  height: 2px;
}
.learn {
  font-size: 20px;
}
.seam-group {
  position: relative;
  padding: 0 7rem;
}
.seam {
  /* max-width: 100%;
  margin: 0 auto; */
  font-size: 40px;
  padding-left: 5rem;
}
.btn {
  max-width: 100%;
  margin: 0 auto;
  padding: 9rem 5rem;
}
.reglog {
  display: flex;
  align-items: center;
  /* padding-left: 2rem; */
}
.reglog-link {
  margin-right: 9rem;
}
#reg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  padding-right: 40px;
  box-shadow: 0px 3px lightgray;
  border-radius: 8px;
  height: 2rem;
  padding: 2px 0;
  color: white;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  background-color: #24a77e;
}
:hover#reg {
  opacity: 0.5;
  transition: 0.5s;
}
#login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  padding: 0 40px;
  box-shadow: aliceblue;
  border-radius: 8px;
  border: 1px solid #36a77e;
  height: 2rem;
  padding: 2px 0;
  color: #36a77e;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
:hover#login {
  background: #36a77e;
  opacity: 0.5;
  color: white;
  transform: 0.5s;
}
.group-image {
  position: absolute;
  right: 3rem;
  top: -3rem;
}
.medkollate-image{
    width: 40rem;
}
