
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lora&family=Roboto&family=K2D&display=swap');

/* This is where i initialize the variables to be used */
:root {
    --primary-color: 78, 214, 176;
    --secondary-color: 26, 161, 229;

    --gray: rgb(112, 112, 112);
    --white: #FFFFFF;
    --black: #000000;
    --lightGreen: #4ed6b0;
    --darkGreen: #276B58;
    --blue: #1aa1e5;

    --Poppins: 'Poppins', sans-serif;
    
    /* David's own */
    --background-color-1: linear-gradient(180deg, #D8F4E8 0%, #72A989 33.89%, #D8F4E8 100%);
    --lora: 'Lora', serif;
    --inter: 'Inter', sans-serif;
    --K2D: 'K2D', sans-serif;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    line-height: 1;
    font-weight: 400;
    color: #555;
    max-width: 100vw;
    max-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

p {
    text-align: justify;
}

img {
    width: 100%;
}

.logo {
    width: 400px;
}

/**************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************/

.container {
    /* 1140px */
    max-width: 120rem;
    padding: 0 1.2rem;
    margin: 0 auto;
}

.flex {
    display: flex;
    /* column-gap: 2.4rem; */
    row-gap: 2rem;
}

.flex--wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.r-column {
    flex-direction: column-reverse;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.6rem;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
}

.nav-link:link,
.nav-link:visited {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.nav-link:hover{
    color: white;
}

.nav-link.active{
    padding: 5px;
    border: 1px solid;
    border-radius: 6px;
}

.pop {
    width: 100vw;
    height: 100vh;
    position: fixed;;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 100;
    position: fixed;
}

.popup {
    position: fixed;
    top: 10%;
    left: 35%;
    z-index: 100;
    width: 100vw;
    /* height: 100%; */
}

.hide {
    display: none;
}

/* Homepage */
.homepage {
    margin: 2rem 0;
    
}

.seam-group {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    position: relative;
}

.seam {
    width: 60%;
    position: absolute;
}

.seam h1 {
    font-family: var(--lora);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.04em;
    color: #202020;
    margin-top: 8rem;
}

.arrow-div {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5rem 0 15rem;
}

.arrow-div a {
    font-family: var(--lora);
    margin-right: 1rem;
    font-size: 2.4rem;
    text-decoration: none;
    color: #202020;
}

.btn-green, .btn-white {
    text-align: center;
    text-decoration: none;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    transition: ease-in-out 1s;
    padding: 1rem 3rem;
    border-radius: 10px;
    margin-right: 2rem;
}

.btn-green:hover {
    background: linear-gradient(168deg, var(--lightGreen) 31.43%, rgb(251, 251, 251, 0.9604));
    background-blend-mode: multiply;
    filter: drop-shadow(1px);
}

.btn-white:hover {
    background: var(--lightGreen);
    background-blend-mode: multiply;
    filter: drop-shadow(1px);
    color: #fff;
}

.btn-green {
    background: var(--darkGreen);
    color: var(--white);
}

.btn-white {
    background: #fff;
    color: var(--lightGreen);
    border: 1px solid;
    transition: all 1s;
}

.group-image {
    position: absolute;
    width: 60rem;
    left: 60rem;
}

/* -------------- */
/* Contact Page */
/* ------------ */

.slantedDiv {
    position: relative;
    width: 100vw;
    height: 350px;
    background: linear-gradient(256.89deg, var(--lightGreen) 31.43%, var(--darkGreen) 100%);
    background-blend-mode: multiply;
}

.slantedDiv::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform-origin: top right;
    transform: skewY(-4deg);
}

.contact--wrapper{
    max-width: 130rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
    padding: 10px 50px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 9px 46px 8px rgba(39, 107, 88, 0.25);
    border-radius: 30px;
}

.contact--link{
    color: var(--white)
}

.contact--link.active{
    border-color: var(--white);
}

.contact--link:hover{
    padding: 5px;
    border-radius: 6px;
    background-color: var(--white);
    color: var(--lightGreen);
}

.contact--main{
    position: absolute;
    top: 30px;
    left: 9%;
}

.contact--details{
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

.contact--details form{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    margin-top: 10px;
}

.contact--details > h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 28px;
    color: #31856E;
}

.contact--details > p{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #31856E;
    word-spacing: -1px;
    margin-top: 5px;
}

.contact--details label{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #202020;
}

.contact--details input, .contact--details textarea, .contact--details button{
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #4ED5B0;
    padding-left: 25px;
    outline: none;
}

.contact--details textarea{
    height: 130px;
    padding-top: 15px;
    resize: none;
}

.contact--details button{
    text-align: center;
    background: var(--blue);
    color: var(--white);
    border: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    transition: ease-in-out 1s;
}

.contact--details button:hover{
    background: linear-gradient(256.89deg, var(--lightGreen) 31.43%, var(--darkGreen) 100%);
    background-blend-mode: multiply;
    filter: drop-shadow(1px);
}

/* -------------- */
/* About Page */
/* ------------ */

.about{
    width: 100vw;
    height: 100vh;
    /* position: relative; */
    background: linear-gradient(170.18deg, rgba(251, 251, 251, 0.9604) 10.53%, rgba(255, 255, 255, 0.98) 52.45%, rgba(0, 191, 166, 0.9408) 93.92%);
    margin-top: 4rem;
}

.about--link{
    color: var(--blue)
}

.about--link.active{
    border-color: var(--blue);
}

.about--link:hover{
    padding: 5px;
    border-radius: 6px;
    background-color: var(--blue);
    color: var(--white);
}

.about--main{
    
}

.about--wrapper{
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
    padding: 10px 50px;
    align-items: center;
}

.about--image{
    max-width: 450px;
}

.about--details{
    /* max-width: 450px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about--details h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 28px;
    color: #31856E;
}

.about--details .text{
    max-width: 650px;
    display: flex;
    flex-direction: column;
    padding: 6px 4px;
    gap: 10px;
}

.about--details .text p{
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
}

.about--details button{
    text-align: center;
    background: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 6px;
    font-weight: 700;
    padding: 10px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    transition: ease-in-out 1s;
    align-self: flex-end;
}

.about--details button:hover{
    background: linear-gradient(168deg, var(--lightGreen) 31.43%, rgb(251, 251, 251, 0.9604));
    background-blend-mode: multiply;
    filter: drop-shadow(1px);
}

/* -------------- */
/* Footer */
/* ------------ */
footer{
    /* height: 100px; */
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .top h2{
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.01em;
    color: rgba(72, 197, 162, 0.9);
}

footer .bottom ul{
    display: flex;
    list-style: none;
}
footer .bottom ul li{
    margin-left: 10px;
}

footer .bottom span, footer .bottom a{
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    letter-spacing: 0.01em;
    color: #4BCFAA;
    cursor: pointer;
}

footer .bottom span{
    margin-left: 2px;
}

footer .bottom ul li img{
    cursor: pointer;
}

footer .bottom a{
    text-decoration: none;
    cursor: pointer;
}

/* HELPER/SETTINGS CLASSES */
.margin-right-sm {
    margin-right: 1.6rem !important;
}

.margin-right-md {
    margin-right: 4.8rem !important;
}

.margin-left-sm {
    margin-left: 1.6rem !important;
}

.margin-left-md {
    margin-left: 4.8rem !important;
}

.margin-bottom-sm {
    margin-bottom: 1.6rem !important;
}

.margin-bottom-md {
    margin-bottom: 4.8rem !important;
}

.center-text {
    text-align: center;
}

/* Service */

#service {
    background:  linear-gradient(210deg, var(--lightGreen) 31.43%, var(--darkGreen) 100%);;
    width: 100vw;
    height: 120vh;
    margin-bottom: 3rem;
}

.service--wrapper {
    max-width: 130rem;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 9px 46px 8px rgba(39, 107, 88, 0.25);
    border-radius: 30px;
    padding: 2.8rem 9rem;
}

.service--wrapper h2 {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 3rem;
    color: #202020;
    font-family: var(--K2D);
}

.service--wrapper p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 178.02%;
    letter-spacing: 0.03em;
    color: #202020;
    padding: 0 2rem;
}

.services {
    display: flex;
    margin: 6rem 0 0;
    justify-content: space-between;
    width: 100%;
}

.services div {
    border: 2px solid #41BC46;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0px 4px 9px #1AA1E5;
}

.services div img {
    width: 190px;
    height: 140px;
}

.services div h3 {
    font-family: var(--lora);
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 46px;
text-align: center;
letter-spacing: 0.02em;
margin-top: 6rem;
color: #202020;
}

.service-popup {
    width: 500px;
    height: 100%;
    /* border: 1px solid var(--darkGreen); */
    padding-bottom: 3rem;
} 

.service-popup div {
    background: rgba(255, 255, 255, 0.795);
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    height: inherit;
}

.service-popup div i {
   font-size: 14px;
}

.service-popup div h3 {
    font-family: var(--lora);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #61AC55;
    margin: 1rem 0 14rem;
}

.service-popup div p {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.04em;
    color: #000000;
    margin-bottom: 6rem;
}

.service-popup div a {
    text-decoration: none;
    background: #1AA1E5;
    border-radius: 12px;
    padding: 10px;
    width: 199px;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.98);
    text-align: center;
    margin-left: 27%;
    transition: 1s;
}

.service-popup div a:hover {
    background: linear-gradient(168deg, var(--lightGreen) 31.43%, rgb(251, 251, 251, 0.9604));
    background-blend-mode: multiply;
    filter: drop-shadow(1px);
}

#organize {
    background: url('./assets/pana.png') no-repeat center;
    background-size: contain;
}

#support {
    background: url('./assets/cuate.png') no-repeat center;
    background-size: contain;
}

#available {
    background: url('./assets/amico.png') no-repeat center;
    background-size: contain;
}

#automation {
    background: url('./assets/earth-and-moon.png') no-repeat center;
    background-size: contain;
}

/* Register */

.register {
    background: var(--background-color-1);
    padding: 80px 107px;
    height: 100vh;
    width: 100vw;
}

.register-section {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.register-section img {
    width: 878px;
}

.register-section > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-section > div h2 {
    font-family: var(--lora);
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.04em;
    margin-bottom: 26px;
}

.proceed {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    transition: .5s ease-in;
}

.proceed p {
    font-family: var(--lora);
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #154C3D;
    width: 90%;
}

.proceed i {
    width: 24px;
    color: #154C3D;
}

.proceed:hover {
    border: 1px solid #154c3d;
    box-shadow: 0px 0px 2px #000;

}


